<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ch.zli.m355.ksh18.project.shotak.game_project">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>
